body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
.insideContainer {
	max-width: 1200px;
	margin: 0 auto;
}
.heading {
	margin: 0 0 20px;
	text-align: center;
}

.disabled {
	background-color: grey;
	cursor: not-allowed;
}
.helpText {
	font-weight: normal;
}