body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
.insideContainer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1% 0;
}
.heading {
	margin: 0 0 20px;
	text-align: center;
	font-size: 25px;
}

.disabled {
	background-color: grey;
	cursor: not-allowed;
}
.helpText {
	font-weight: normal;
}

@media only all and (max-width: 1250px) {
	.insideContainer {
		padding: 1% 1%;
	}
}

@media only all and (max-width: 700px) {
	.insideContainer {
		padding: 10px;
	}
	.heading {
		margin-bottom: 10px;
	}
}