header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
.menuActive {
	background-color: rgba(41, 76, 96, 0.25);
}

/*Акции*/
#stocks {
	height: 60px;
	background-color: rgb(247, 244, 238);
	display: flex;
	justify-content: center;
	align-items: center;
}
.stocksText {
	margin: 0;
}

/*Дублирующий Логотип Телефон*/
.logoPhone {
	display: none;
	height: 50px;
	background-color: white;
}
.logoPhoneInContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 3;
}
.phoneNumber {
	display: flex;
	align-items: center;
	font-size: 22px;
}
.phoneNumber img {
	margin-right: 5px;
	height: 35px;
}


/*Логотип Телефон*/
.mainLogoContainer {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
.mainLogoContainer div {
	flex-grow: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mainLogoContainer a {
	font-size: 22px;
	display: flex;
	align-items: center;
}
.phoneMainLogoContainer img{
	margin-right: 5px;
}
.logoImg {
	width: 124px;
	margin-left: 20px;
}
.brand {
	margin: 0 20px;
}

/*Основное меню*/
.mainMenuContainer {	
	background-color: rgb(247, 244, 220);
}
.mainMenu {
	max-width: 1200px;	
	margin: 0 auto;
	height: 50px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav {
	flex-grow: 1;
}
.mainNav {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 0;
	margin: 0;
	height: 100%;
}
.mainNav li a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 22px;
	font-weight: 500;
	padding: 0 10px;
}
.mainNav li {
	border-radius: 2px;
	flex-basis: 150px;
}

/*Описание страницы*/
.contentLogoContainer {
	margin-top: 110px;
	background-image: url("../RES/Img/Background/backgroundPageDescription.jpg");
	background-position: center center;
	background-size: cover;
}
.contentLogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}
.contentLogo div h1 {
	border-bottom: rgba(41, 76, 96, 1) 3px solid;
	text-align: center;
	width: 100%;
	font-weight: 500;
	margin: 0;
}
.contentLogo p {
	text-align: center;
	margin: 15px 0 5px;
}

/*Menu Hamburger*/
.hamburgerNav {
	position: absolute;
	right: 0;
	top: 160px;
	background-color: white;
	display: flex;
	flex-direction: column;
	transition: 0.25s linear;
	height: 260px;
}
#hamburgerIconContainer {
	width: 50px;
  height: 50px;
  margin-right: 5px;
	position: relative;
	cursor: pointer;
}
#hamburgerIconContainer span {
	display: block;
	background-color: #566973;
	border-radius: 2px;
	width: 50px;
  height: 5px;
  position:relative;
  transition: 0.25s ease-in-out;
  top: -3px;
  margin: 10px 0;
}
#hamburgerIcon {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(180deg);
}
#hamburgerIcon span:nth-child(1) {
	transition-delay: .35s;
}
#hamburgerIcon span:nth-child(2) {
	transition-delay: .30s;
}
#hamburgerIcon span:nth-child(3) {
	transition-delay: .25s;
}
#hamburgerCross {
	position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}
#hamburgerCross span:nth-child(1) {
	height: 0%;
  width: 4px;
  position: absolute;
  top: -20%;
  left: 50%;
  transition-delay: 0s;
}
#hamburgerCross span:nth-child(2) {
	width: 0%;
  height: 4px;
  position: absolute;
  left: 5%;
  top: 25%;
  transition-delay: .1s;
}
.hamburgerNavUl {
	list-style: none;
	margin: 0;
	padding: 0 30px;	
	transition: 0.25s linear;
	overflow: hidden;
}
.hamburgerNavUl li {
	height: 40px;
	margin: 10px 0;
}
.hamburgerNavUl li a {
	padding: 0 8px;
	display: flex;
	align-items: center;
	height: 40px;
}

#hamburgerIconContainer.open #hamburgerIcon span {
	width: 0%;
}
#hamburgerIconContainer.open #hamburgerIcon span:nth-child(1) {
	transition-delay: 0s;
}
#hamburgerIconContainer.open #hamburgerIcon span:nth-child(2) {
	transition-delay: .06s;
}
#hamburgerIconContainer.open #hamburgerIcon span:nth-child(3) {
	transition-delay: .125s;
}

#hamburgerIconContainer.open #hamburgerCross span:nth-child(1) {
	height: 100%;
  transition-delay: .4s;
}
#hamburgerIconContainer.open #hamburgerCross span:nth-child(2) {
	width: 100%;
  transition-delay: .3s;
}
.hideMenu {
	height: 0;
}
/*End Hamburger*/




footer {
	background-color: rgb(247, 244, 238);
	display: flex;
	justify-content: center;
	align-items: center;
}
.footerContainer {
	display: flex;
}
.footerInsideContainer {
	flex-grow: 3;
	margin: 0 10px;
	display: flex;
}
.footerInsideContainer div {
	margin: 0 10px;
}



/*Media*/
@media only all and (max-width: 1200px) {
	nav {
		height: 50px;
	}
	.mainMenu {
		flex-direction: column;
		height: 100px;
	}
	.contentLogoContainer {
		margin-top: 160px;
	}
}
@media only all and (max-width: 900px) {
	.footerContainer {
		flex-direction: column;
	}
	.footerInsideContainer {
		margin: 5px 0;
	}
	.footerInsideContainer div {
		margin: 0;
		flex-grow: 3;
		display: flex;
		justify-content: center;
	}
}
@media only all and (max-width: 700px) {
	nav {
		height: auto;
		position: relative;
		display: flex;
		justify-content: center;
	}
	.logoPhone {
		display: flex;
	}
	.mainLogoContainer {
		flex-basis: 80%;
		flex-grow: 5;
	}
	.mainLogoContainer div:nth-child(1) {
		display: flex;
		justify-content: flex-start;
	}
	div.phoneMainLogoContainer {
		display: none;
	}
	.mainNav {
		display: none;
	}
	.mainMenu {
		flex-direction: row;
		height: 50px;
	}
	.brandMain {
		display: none;
	}
	div.brandMainContainer {
		display: none;
	}
	.logoImg {
		margin-left: 20px;
		width: 130px;
	}
	.contentLogoContainer {
		margin-top: 160px;
	}
}
@media only all and (max-width: 430px) {
	.brandInContainer {
		display: none;
	}
	.logoImg {
		margin-left: 10px;
	}
}
@media only all and (max-width: 360px) {
	.footerInsideContainer {
		flex-direction: column-reverse;
	}
}