.dspMaterials {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.dspPagesContainer {
	display: flex;
	flex-grow: 3;
	background-color: white;
}
.dspPages {
	display: flex;
	flex-direction: column;
	flex-grow: 3;
	flex-basis: 200px;
	background-color: yellow;
}
.dspPages span {
	text-align: center;
	margin: 5px 0;
}
.dspPagesImageContainer {
	flex-grow: 3;
	flex-basis: 250px;
	width: 250px;
	background-color: white;
	margin: 5px auto 0;
}


@media only all and (max-width: 1050px) {
	.dspMaterials {
		flex-direction: column;
	}
	.dspPages {
		margin-bottom: 15px;
	}
}
@media only all and (max-width: 540px) {
	.dspPagesContainer {
		flex-direction: column;
	}
}