.modelsText {
	border-bottom: solid lightgrey 1px;
	margin-bottom: 20px;
}
.modelsVariantContainer {
	background-color: rgb(247, 200, 180);
}
.modelsVariantWrapper {
	display: flex;
}
.modelsVariant {
	flex-basis: 33%;
	flex-grow: 3;
	display: flex;
	flex-direction: column;
}
.modelsVariantPrice {
	flex-grow: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}
.modelsPrice {
	display: none;
}
.modelsVariant img {
	width: 90%;
	margin: 0 auto;
}
.modelsVariant li {
	margin: 0.5em 0
}
.priceDescription {
	margin: 0;
}



@media only all and (max-width: 1200px) {
	
}

@media only all and (max-width: 700px) {
	.modelsVariantWrapper {
		flex-direction: column;
	}
	.modelsPriceContainer {
		display: none;
	}
	.modelsText p {
		margin: 10px 0;
	}
	.modelsPrice {
		display: flex;
		justify-content: center;
		margin: 5px 0 15px;
	}
	.modelsVariant {
		padding-top: 10px;
		border-bottom: solid 1px lightgrey;
	}
	.modelsVariant ul {
		margin: 0.5em 0 0;
		padding-left: 30px;
	}
}